<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.7.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/main.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    	<div id="outer-container">
	    	<div id="inner-container">
				<div class="banner">
					<a href="/">
	 					<div id="logo">
						</div>
					</a>
					<div class="banner-inner">
						<div class="banner-text">
							<div id="banner-buttons">
								
							</div>
							<div id="welcome">
							</div>
						</div>
					</div>
					<div class="banner-strip">
						&nbsp;
					</div>
					<div class="banner-strip2">
						&nbsp;
					</div>					
	    		</div>
				<div id="page-content">
		        	#{doLayout /}
					<div class="clear"></div>
					<img id="pbg-logo-small" src="/public/images/pbg-logo-small.png" />
				</div>
	        </div>
        </div>
    </body>
</html>
