<div class="game-feature-${gameFeature_parity} game-feature">
<div class="feature-button">
		<div class="button-container">
			<a href="#" onclick="return false;" id="button-${gameName_index}-${gameFeature}">
				<div class="small-button">
					<span id="button-text-${gameName_index}-${gameFeature}">activate</span>
				</div>
			</a>
		</div>
	</div>

	<div class="feature-key" id="key-${gameName_index}-${gameFeature}">
		&nbsp;
	</div>
	<div class="feature-name">
		${gameFeature}
	</div>
	<div class="clear"></div>	
</div>