<div class="game-feature-${gameFeature_parity} game-feature">
<!--	<div class="feature-button">
		<div class="button-container">
			<a href="#" id="button-${gameId}-${gameFeature}">
				<div class="small-button">
					<span id="button-text-${gameId}-${gameFeature}">activate</span>
				</div>
			</a>
		</div>
	</div>
	-->
	<div class="feature-name">
		${gameFeature}
	</div>
	<div class="feature-key" id="key-${gameId}-${gameFeature}">
		&nbsp;
	</div>
	<div class="clear"></div>	
	<div class="clear"></div>	
</div>
