#inner-container
{
	width:900px;
	background-color:#e8e8ea;
	margin:auto;
	height:100%;
}

#outer-container
{
	height:100%;
	width:100%;
	background-color:#353132;
}

body
{
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight:bold;
	margin:0px;
}

html, body
{
	height:100%;
}

.header
{
	font-size:35px;
	padding:20px;
	color:#005889;
}

.banner-strip
{
	height:15px;
	background-color:#032202;
}
.banner-inner{
width: 100%;
height: 80px;
background: url(/public/images/bkg-green-grain.jpg) #00B200 repeat;
color: #FFF;
}
#logo {
float: left;
display: block;
width: 350px;
height: 48px;
background: url(/public/images/powered-by-gamespy-logo.png) transparent no-repeat left center;
margin: 15px 20px 0;
}
.disclaimer
{
	font-size:8px;
	color:#b4b3b1;
}

.box-header
{
	font-size:25px;
}

.clear
{
	clear:both;
}

#welcome
{ 
	margin-right:20px;
	font-size:12px;
}

.box
{
	border:solid;
	border-width:1px;
	border-color:#000;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#page-name
{
	margin-bottom:20px;
}

.banner-text
{
	float:right;
	margin:10px;
}
