#inner-container
{
	width:900px;
	margin:auto;
	height:100%;
	background-color:#FFF;
}

#outer-container
{
	height:100%;
	width:100%;
	background-color:#353132;
}

body
{
	font-family:Arial;
	margin:0px;
}

html, body
{
	height:100%;
}

#page-content
{
	font-weight:bold;
}

.header
{
	font-size:35px;
	padding:20px;
	color:#005889;
}

.banner-strip
{
	height:12px;
	background: url(/public/images/headerbezel.png) repeat;
}

.banner-strip2
{
	height:8px;
	background-color:#04b203;
}

.banner
{
	background-color:#e8e8ea;
}

.banner-inner{
	width: 100%;
	height: 70px;
	background: #e5e5e7 repeat;
	color: #414143;
	font-size: 30px;

}
#logo {
	float: left;
	display: block;
	width: 350px;
	height: 59px;
	background: url(/public/images/field-kit-logo.png) transparent no-repeat left center;
	margin: 7px 0px 0 20px;
}
.disclaimer
{
	font-size:8px;
	color:#b4b3b1;
}

.box-header
{
	font-size:25px;
}

.clear
{
	clear:both;
}

#welcome
{ 
	margin-right:20px;
	font-size:12px;
}

.box
{
	border:solid;
	border-width:1px;
	border-color:#000;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#banner-buttons
{
	margin-top:15px;
}

#banner-buttons .last
{
	border-right:0px;
}

.banner-button
{
	font-size:20px;
	float:left;
	padding-right:10px;
	padding-left:10px;
	border-right:1px solid #414143;;
}

.banner-button a
{
	text-decoration:none;
	color:#414143;
}


.banner-text
{
	float:left;
	margin: 10px 10px 10px 0px;
}

#page-content
{
	background-color:#FFF;
}

#pbg-logo-small
{
	float:right;
	padding-right:20px;
	padding-top:50px;
}