 	<div class="game-name">
	<div class="game-left">
		<img class="arrow" src="/public/images/arrow_right_16.png" 
		id="feature-arrow-${gameId}">
		${gameName}
	</div>
	<div class="game-right">
		<div class="button-container">
			<a href="#" id="delete-${gameId}" onclick="return false;">
				<div class="small-button">
					<span>delete</span>
				</div>
			</a>
		</div>
	</div>
	<div class="clear"> </div>
</div>
<div class="game-features" id="features-${gameId}">
	#{list gameFeatures, as:'gameFeature'}
		#{include 'games/gamefeature.html' /}
	#{/list}
</div>
<div class="clear"></div>