#{extends 'main.html' /}
#{set title:'Next Technology - Your Games List' /}
#{set product: 'matchmaking' /}
#{set pagename: 'Your Games' /}
#{set 'moreStyles'}
	#{stylesheet 'games.css' /}
#{/set}

#{set 'moreScripts'}
	#{script 'games.js' /}
	<script type="text/javascript">
		//temporary stuff for setting game list and features
		#{list gameFeatures, as:'feature'}
			addFeature('${feature}');
		#{/list}
		
	</script>
	<script type="text/javascript">
		var createRow = #{jsAction @gameRow(':gameName', ':gameId') /};
	</script>
#{/set}

<div id="result">
</div>

<div class="games-box box">
	<div class="box-header">
		Add or Change Games
	</div>
	<div class="menu-label">
		<img class="plus" src="/public/images/add_16.png"> 
		New Game
	</div>
	<div class="new-game-section">
		<input id="new-game-name" type="text" />
		<div class="button-container">
			<a id="new-game-button" href="#" onclick="return false;">
				<div class="small-button">
					<span>submit</span>
				</div>
			</a>
		</div>
	</div>
	<div class="divider">
		&nbsp;
	</div>
	<div class="your-games-section">
		<div class="menu-label">
			Your Games
		</div>
		<div id="games-list">
		</div>
	</div>
</div>