#{extends 'main.html' /}
#{set title:'Next Technology - Terms of Service' /}
#{set pagename: 'Terms of Service' /}
#{set product: 'matchmaking' /}
#{set 'moreStyles'}
	#{stylesheet 'tos.css' /}
#{/set}

#{set 'moreScripts'}
	#{script 'tos.js' /}
#{/set}

<div id="tos-header">
	Terms of Service
</div>

<div id="tos">
	Bacon ipsum dolor sit amet sirloin corned beef flank, bresaola tongue jowl andouille cow. 
	Salami ground round shankle tri-tip sirloin, rump pork belly turkey jowl boudin leberkäse brisket drumstick. 
	Corned beef shoulder rump, ground round t-bone flank jowl pork tri-tip pancetta. 
	Bresaola tenderloin venison sausage andouille ham hock spare ribs. Pancetta spare ribs tri-tip pork loin. 
	Meatloaf bacon flank venison leberkäse shank. Leberkäse pastrami spare ribs shoulder bresaola.
	<br/><br/>
	Sausage beef ribs ham prosciutto, kielbasa turducken tri-tip leberkäse pork chop sirloin chicken. 
	Ball tip hamburger tongue, pork pork loin turkey strip steak spare ribs ribeye beef ribs short loin. 
	Pig shank tenderloin rump capicola hamburger. Sausage pork belly turkey swine, capicola hamburger tongue bresaola. 
	Ham strip steak bresaola, ball tip frankfurter jerky salami bacon ribeye shank prosciutto meatloaf short loin drumstick sausage.
	 Shank chuck strip steak, biltong jerky brisket pastrami bacon swine fatback pancetta. Tongue venison cow ball tip, 
	 leberkäse bacon chicken shankle meatball fatback sirloin salami.
	<br/><br/>
	Venison corned beef fatback spare ribs kielbasa jowl pastrami. Short loin ham hock ball tip pig strip steak pastrami. 
	Tri-tip sausage jowl ball tip swine short ribs. Jowl short loin bresaola biltong venison tail turducken drumstick. 
	Jerky corned beef meatloaf kielbasa pig ribeye, boudin cow brisket turkey. Sirloin bresaola swine tenderloin, kielbasa capicola 
	ball tip short loin rump bacon jerky sausage. Pork belly tri-tip short ribs, turducken corned beef flank tongue.
	<br/><br/>
	Salami hamburger ribeye sirloin, t-bone meatloaf sausage prosciutto strip steak leberkäse short loin brisket beef ribs turkey. 
	Pastrami shoulder short loin, ground round drumstick shankle beef ball tip prosciutto tenderloin biltong. Pork chop swine jowl, 
	turducken pastrami ham bresaola flank tongue. Ham hock prosciutto t-bone pancetta, biltong swine shankle boudin ham ball tip 
	beef bacon pastrami. Jowl cow ham hock chuck, corned beef pork belly short ribs. Bresaola cow pork loin ham frankfurter. 
	Ribeye turkey jowl sausage rump.
	<br/><br/>
	Ball tip pork belly tongue, ribeye fatback bresaola chuck. Fatback ground round flank short ribs pastrami prosciutto, 
	pork chop swine sausage short loin jowl pancetta beef ribs biltong pork. Biltong drumstick shank, pork belly pig tail 
	tongue jowl short ribs. Beef chicken bacon tail shankle pig. Hamburger turducken boudin, chuck ground round strip steak 
	andouille sausage t-bone tail jowl. Fatback brisket capicola strip steak, filet mignon pork belly rump pork loin. 
	Shoulder ham tenderloin swine.
	<br/><br/>
	Tri-tip drumstick bresaola pastrami pork biltong, venison hamburger strip steak filet mignon corned beef boudin turkey tail. 
	Beef capicola turducken, tenderloin pork chop ham pork pork loin pork belly strip steak sausage. Swine ball tip andouille 
	prosciutto short loin, shank beef corned beef shoulder tongue spare ribs jerky. Short loin ham hock meatball prosciutto tongue 
	pastrami. Sausage ham hock turducken, sirloin pork loin ball tip andouille turkey ham venison pancetta. Short loin sausage 
	andouille t-bone. Pancetta biltong venison, bacon meatball shank bresaola beef fatback ball tip ribeye boudin.
	<br/><br/>
	Swine leberkäse short ribs sausage boudin spare ribs, tri-tip drumstick fatback frankfurter andouille ribeye. 
	Sausage brisket pork belly pork. Ham prosciutto tri-tip, spare ribs tongue fatback pork loin pork. Tenderloin 
	kielbasa filet mignon ribeye brisket. Tri-tip venison turducken tongue shankle pork meatloaf rump, shoulder pork loin sausage. 
	Brisket ham hock cow rump bacon. Frankfurter ham tail, pancetta meatloaf pig rump strip steak ham hock.
	<br/><br/>
	Ribeye sirloin shank flank t-bone pig. Strip steak pork t-bone hamburger, tail short ribs rump pork belly drumstick tongue ball 
	tip biltong. Short ribs corned beef meatball fatback, beef meatloaf brisket pastrami sausage pork belly prosciutto. 
	Turkey flank hamburger, pork belly salami andouille ham t-bone chuck spare ribs frankfurter prosciutto turducken venison 
	filet mignon. Pancetta tenderloin filet mignon bacon, brisket meatloaf ground round pork short ribs jowl pork loin. 
	Short loin pastrami kielbasa leberkäse sirloin bacon ham hock. Tri-tip sirloin turducken tongue.
	<br/><br/>
	Shoulder pork ball tip beef turkey sirloin brisket ham hock ham swine rump ground round. 
	Fatback pig pork, ham tri-tip biltong strip steak ribeye kielbasa sausage leberkäse frankfurter. 
	Pastrami ball tip turducken, boudin flank bacon rump beef. T-bone pancetta prosciutto kielbasa tongue pork chop, 
	andouille strip steak jowl sausage. Chicken cow bacon, spare ribs andouille drumstick fatback tongue beef ribs 
	venison turducken pastrami. Andouille ham tongue, jerky kielbasa ribeye turducken cow pastrami. Jowl strip steak 
	ribeye meatball, shank tail pastrami biltong beef corned beef rump swine ham hock.
	<br/><br/>
	Chuck shoulder bresaola jerky, boudin jowl filet mignon spare ribs corned beef tail turducken meatloaf pork chop short loin. 
	Pork belly frankfurter corned beef rump fatback chuck. Shank fatback filet mignon, tri-tip short ribs leberkäse drumstick 
	bacon tongue corned beef boudin strip steak sausage beef pig. Frankfurter ham hock drumstick tenderloin pork loin, pork belly 
	tri-tip t-bone turkey andouille kielbasa meatball beef ribs. Hamburger shankle bresaola, tenderloin filet mignon tri-tip 
	leberkäse t-bone biltong venison spare ribs pork chop tail tongue chuck. Salami pork loin tongue tenderloin, fatback pastrami 
	strip steak. Prosciutto chicken corned beef salami, ham sirloin jerky beef cow ball tip short loin pork loin.
</div>
<div id="button-container">
	<div id="accept-button" class="button">
		<a href="#" onClick="return false;" id="accept-tos">
			<div>
				<span>
					Accept
				<span>
			</div>
		</a>
	</div>
	
	<div id="decline-button" class="button">
		<a href="#" onClick="return false;" id="decline-tos">
			<div>
				<span>
					Decline
				<span>
			</div>
		</a>
	</div>
</div>